{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["."],
      "alias": {
        "@components": "./components",
        "@styles": "./styles",
        "@utils": "./utils",
        "@workers": "./workers",
        "@typings": "./typings",
        "@assets":  "./assets",
        "@constants": "./constants",
        "@hooks": "./hooks"
      }
    }]
  ]
}
