{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["."],
      "alias": {
        "@components": "./src/components",
        "@styles": "./src/styles",
        "@utils": "./src/utils",
        "@workers": "./src/workers",
        "@typings": "./typings",
        "@assets":  "./src/assets",
        "@constants": "./src/constants",
        "@hooks": "./src/hooks"
      }
    }]
  ]
}
