@import url('https://fonts.googleapis.com/css?family=Lato');
/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #29d;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  opacity: 1.0;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: #29d;
  border-left-color: #29d;
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.fuzzy-picker-background {
  background: rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 300px;
  padding-top: 25vh;
  z-index: 100;
  font-family: 'Lato';
}
.fuzzy-picker-background .fuzzy-picker {
  width: 600px;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0px 0px 16px #333;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
}
.fuzzy-picker-background .fuzzy-picker .fuzzy-picker-top-text {
  color: #aaa;
  margin-top: 0.5em;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-size: 16px;
  user-select: none;
}
.fuzzy-picker-background .fuzzy-picker .fuzzy-picker-top-text .fuzzy-picker-label {
  float: left;
}
.fuzzy-picker-background .fuzzy-picker .fuzzy-picker-top-text .fuzzy-picker-instructions {
  float: right;
}
.fuzzy-picker-background .fuzzy-picker .fuzzy-picker-top-text .fuzzy-picker-instructions span {
  margin: 0.35em;
}
.fuzzy-picker-background .fuzzy-picker input[type=text] {
  border: 1px solid #dedede;
  border-radius: 2px;
  outline: none;
  flex: 1;
  font-size: 18px;
  padding: 4px;
  margin: 0.5rem;
  margin-bottom: 0;
}
.fuzzy-picker-background .fuzzy-picker ul {
  list-style-type: none;
  padding-left: 0px;
  margin-top: 0.2em;
  margin-bottom: 0.5em;
}
.fuzzy-picker-background .fuzzy-picker ul li {
  margin: 0.1em 0.5rem;
  padding: 0.6em 0.5em;
  border-radius: 2px;
  cursor: pointer;
}
.fuzzy-picker-background .fuzzy-picker ul li.selected {
  background-color: #444444;
  color: #fff;
}
