@import url("https://fonts.googleapis.com/css?family=Lato");

.rc-collapse {
  background-color: #f7f7f7;
  border-radius: 3px;
}
.rc-collapse-anim-active {
  transition: height 0.2s ease-out;
}

.rc-collapse > .rc-collapse-item > .rc-collapse-header {
  height: 38px;
  line-height: 38px;
  cursor: pointer;
}
.rc-collapse > .rc-collapse-item > .rc-collapse-header .arrow {
  display: inline-block;
  content: "\20";
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-left: 4px solid #b3b3b3;
  vertical-align: middle;
  margin-right: 8px;
}
.rc-collapse > .rc-collapse-item-disabled > .rc-collapse-header {
  cursor: not-allowed;
  color: #999;
  background-color: #f3f3f3;
}
.rc-collapse-content {
  overflow: hidden;
  overflow-y: scroll;
  max-height: 200px;
}

.rc-collapse-content-inactive {
  display: none;
}
.rc-collapse-item:last-child > .rc-collapse-content {
  border-radius: 0 0 3px 3px;
}
.rc-collapse > .rc-collapse-item-active > .rc-collapse-header .arrow {
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 4px solid #666;
  margin-right: 6px;
}

/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #29d;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  opacity: 1;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: #29d;
  border-left-color: #29d;
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.fuzzy-picker-background {
  background: rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 300px;
  padding-top: 25vh;
  z-index: 100;
  font-family: "Lato";
}
.fuzzy-picker-background .fuzzy-picker {
  width: 600px;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0px 0px 16px #333;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
}
.fuzzy-picker-background .fuzzy-picker .fuzzy-picker-top-text {
  color: #aaa;
  margin-top: 0.5em;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-size: 16px;
  user-select: none;
}
.fuzzy-picker-background
  .fuzzy-picker
  .fuzzy-picker-top-text
  .fuzzy-picker-label {
  float: left;
}
.fuzzy-picker-background
  .fuzzy-picker
  .fuzzy-picker-top-text
  .fuzzy-picker-instructions {
  float: right;
}
.fuzzy-picker-background
  .fuzzy-picker
  .fuzzy-picker-top-text
  .fuzzy-picker-instructions
  span {
  margin: 0.35em;
}
.fuzzy-picker-background .fuzzy-picker input[type="text"] {
  border: 1px solid #dedede;
  border-radius: 2px;
  outline: none;
  flex: 1;
  font-size: 18px;
  padding: 4px;
  margin: 0.5rem;
  margin-bottom: 0;
}
.fuzzy-picker-background .fuzzy-picker ul {
  list-style-type: none;
  padding-left: 0px;
  margin-top: 0.2em;
  margin-bottom: 0.5em;
}
.fuzzy-picker-background .fuzzy-picker ul li {
  margin: 0.1em 0.5rem;
  padding: 0.6em 0.5em;
  border-radius: 2px;
  cursor: pointer;
}
.fuzzy-picker-background .fuzzy-picker ul li.selected {
  background-color: #444444;
  color: #fff;
}

/* BASICS */

.CodeMirror {
  /* Set height, width, borders, and global font properties here */
  font: 14px / normal "Monaco", "Menlo", "Ubuntu Mono", "Consolas",
    "source-code-pro", monospace;
  height: 300px;
  color: black;
  direction: ltr;
  overflow: hidden;
}

/* PADDING */

.CodeMirror-lines {
  padding: 4px 0; /* Vertical padding around content */
}
.CodeMirror pre {
  padding: 0 4px; /* Horizontal padding of content */
}

.CodeMirror-scrollbar-filler,
.CodeMirror-gutter-filler {
  background-color: white; /* The little square between H and V scrollbars */
}

/* GUTTER */

.CodeMirror-gutters {
  border-right: 1px solid #ddd;
  background-color: #f7f7f7;
  white-space: nowrap;
}
.CodeMirror-linenumbers {
}
.CodeMirror-linenumber {
  padding: 0 3px 0 5px;
  min-width: 20px;
  text-align: right;
  color: #999;
  white-space: nowrap;
}

.CodeMirror-guttermarker {
  color: black;
}
.CodeMirror-guttermarker-subtle {
  color: #999;
}

/* CURSOR */

.CodeMirror-cursor {
  border-left: 1px solid black;
  border-right: none;
  width: 0;
}
/* Shown when moving in bi-directional text */
.CodeMirror div.CodeMirror-secondarycursor {
  border-left: 1px solid silver;
}
.cm-fat-cursor .CodeMirror-cursor {
  width: auto;
  border: 0 !important;
  background: #7e7;
}
.cm-fat-cursor div.CodeMirror-cursors {
  z-index: 1;
}

.cm-animate-fat-cursor {
  width: auto;
  border: 0;
  -webkit-animation: blink 1.06s steps(1) infinite;
  -moz-animation: blink 1.06s steps(1) infinite;
  animation: blink 1.06s steps(1) infinite;
  background-color: #7e7;
}
@-moz-keyframes blink {
  0% {
  }
  50% {
    background-color: transparent;
  }
  100% {
  }
}
@-webkit-keyframes blink {
  0% {
  }
  50% {
    background-color: transparent;
  }
  100% {
  }
}
@keyframes blink {
  0% {
  }
  50% {
    background-color: transparent;
  }
  100% {
  }
}

/* Can style cursor different in overwrite (non-insert) mode */
.CodeMirror-overwrite .CodeMirror-cursor {
}

.cm-tab {
  display: inline-block;
  text-decoration: inherit;
}

.CodeMirror-rulers {
  position: absolute;
  left: 0;
  right: 0;
  top: -50px;
  bottom: -20px;
  overflow: hidden;
}
.CodeMirror-ruler {
  border-left: 1px solid #ccc;
  top: 0;
  bottom: 0;
  position: absolute;
}

/* DEFAULT THEME */

.cm-s-chrome-devtools .cm-header {
  color: blue;
}
.cm-s-chrome-devtools .cm-quote {
  color: #090;
}
.cm-negative {
  color: #d44;
}
.cm-positive {
  color: #292;
}
.cm-header,
.cm-strong {
  font-weight: bold;
}
.cm-em {
  font-style: italic;
}
.cm-link {
  text-decoration: underline;
}
.cm-strikethrough {
  text-decoration: line-through;
}

.cm-s-chrome-devtools .cm-keyword {
  color: #708;
}
.cm-s-chrome-devtools .cm-atom {
  color: #219;
}
.cm-s-chrome-devtools .cm-number {
  color: #164;
}
.cm-s-chrome-devtools .cm-def {
  color: #00f;
}
.cm-s-chrome-devtools .cm-variable,
.cm-s-chrome-devtools .cm-punctuation,
.cm-s-chrome-devtools .cm-property,
.cm-s-chrome-devtools .cm-operator {
}
.cm-s-chrome-devtools .cm-variable-2 {
  color: #05a;
}
.cm-s-chrome-devtools .cm-variable-3,
.cm-s-chrome-devtools .cm-type {
  color: #085;
}
.cm-s-chrome-devtools .cm-comment {
  color: #a50;
}
.cm-s-chrome-devtools .cm-string {
  color: #a11;
}
.cm-s-chrome-devtools .cm-string-2 {
  color: #f50;
}
.cm-s-chrome-devtools .cm-meta {
  color: #555;
}
.cm-s-chrome-devtools .cm-qualifier {
  color: #555;
}
.cm-s-chrome-devtools .cm-builtin {
  color: #30a;
}
.cm-s-chrome-devtools .cm-bracket {
  color: #997;
}
.cm-s-chrome-devtools .cm-hr {
  color: #999;
}
.cm-s-chrome-devtools .cm-link {
  color: #00c;
}

.cm-s-chrome-devtools .cm-error {
  color: #f00;
}
.cm-invalidchar {
  color: #f00;
}

.CodeMirror-composing {
  border-bottom: 2px solid;
}

/* Default styles for common addons */

div.CodeMirror span.CodeMirror-matchingbracket {
  color: #0f0;
}
div.CodeMirror span.CodeMirror-nonmatchingbracket {
  color: #f22;
}
.CodeMirror-matchingtag {
  background: rgba(255, 150, 0, 0.3);
}
.CodeMirror-activeline-background {
  background: #e8f2ff;
}

/* STOP */

/* The rest of this file contains styles related to the mechanics of
   the editor. You probably shouldn't touch them. */

.CodeMirror {
  position: relative;
  overflow: hidden;
  background: white;
}

.CodeMirror-scroll {
  overflow: scroll !important; /* Things will break if this is overridden */
  /* 30px is the magic margin used to hide the element's real scrollbars */
  /* See overflow: hidden in .CodeMirror */
  margin-bottom: -30px;
  margin-right: -30px;
  padding-bottom: 30px;
  height: 100%;
  outline: none; /* Prevent dragging from highlighting the element */
  position: relative;
}
.CodeMirror-sizer {
  position: relative;
  border-right: 30px solid transparent;
}

/* The fake, visible scrollbars. Used to force redraw during scrolling
   before actual scrolling happens, thus preventing shaking and
   flickering artifacts. */
.CodeMirror-vscrollbar,
.CodeMirror-hscrollbar,
.CodeMirror-scrollbar-filler,
.CodeMirror-gutter-filler {
  position: absolute;
  z-index: 6;
  display: none;
}
.CodeMirror-vscrollbar {
  right: 0;
  top: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}
.CodeMirror-hscrollbar {
  bottom: 0;
  left: 0;
  overflow-y: hidden;
  overflow-x: scroll;
}
.CodeMirror-scrollbar-filler {
  right: 0;
  bottom: 0;
}
.CodeMirror-gutter-filler {
  left: 0;
  bottom: 0;
}

.CodeMirror-gutters {
  position: absolute;
  left: 0;
  top: 0;
  min-height: 100%;
  z-index: 3;
}
.CodeMirror-gutter {
  white-space: normal;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: -30px;
}
.CodeMirror-gutter-wrapper {
  position: absolute;
  z-index: 4;
  background: none !important;
  border: none !important;
}
.CodeMirror-gutter-background {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 4;
}
.CodeMirror-gutter-elt {
  position: absolute;
  cursor: default;
  z-index: 4;
}
.CodeMirror-gutter-wrapper ::selection {
  background-color: transparent;
}
.CodeMirror-gutter-wrapper ::-moz-selection {
  background-color: transparent;
}

.CodeMirror-lines {
  cursor: text;
  min-height: 1px; /* prevents collapsing before first draw */
}
.CodeMirror pre {
  /* Reset some styles that the rest of the page might have set */
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border-width: 0;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  white-space: pre;
  word-wrap: normal;
  line-height: inherit;
  color: inherit;
  z-index: 2;
  position: relative;
  overflow: visible;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-variant-ligatures: contextual;
  font-variant-ligatures: contextual;
}
.CodeMirror-wrap pre {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: normal;
}

.CodeMirror-linebackground {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
}

.CodeMirror-linewidget {
  position: relative;
  z-index: 2;
  overflow: auto;
}

.CodeMirror-widget {
}

.CodeMirror-rtl pre {
  direction: rtl;
}

.CodeMirror-code {
  outline: none;
}

/* Force content-box sizing for the elements where we expect it */
.CodeMirror-scroll,
.CodeMirror-sizer,
.CodeMirror-gutter,
.CodeMirror-gutters,
.CodeMirror-linenumber {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.CodeMirror-measure {
  position: absolute;
  width: 100%;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.CodeMirror-cursor {
  position: absolute;
  pointer-events: none;
}
.CodeMirror-measure pre {
  position: static;
}

div.CodeMirror-cursors {
  visibility: hidden;
  position: relative;
  z-index: 3;
}
div.CodeMirror-dragcursors {
  visibility: visible;
}

.CodeMirror-focused div.CodeMirror-cursors {
  visibility: visible;
}

.CodeMirror-selected {
  background: #d9d9d9;
}
.CodeMirror-focused .CodeMirror-selected {
  background: #d7d4f0;
}
.CodeMirror-crosshair {
  cursor: crosshair;
}
.CodeMirror-line::selection,
.CodeMirror-line > span::selection,
.CodeMirror-line > span > span::selection {
  background: #d7d4f0;
}
.CodeMirror-line::-moz-selection,
.CodeMirror-line > span::-moz-selection,
.CodeMirror-line > span > span::-moz-selection {
  background: #d7d4f0;
}

.cm-searching {
  background-color: #ffa;
  background-color: rgba(255, 255, 0, 0.4);
}

/* Used to force a border model for a node */
.cm-force-border {
  padding-right: 0.1px;
}

@media print {
  /* Hide the cursor when printing */
  .CodeMirror div.CodeMirror-cursors {
    visibility: hidden;
  }
}

/* See issue #2901 */
.cm-tab-wrap-hack:after {
  content: "";
}

/* Help users use markselection to safely style text background */
span.CodeMirror-selectedtext {
  background: none;
}

.cm-s-chrome-devtools {
  background: #ffffff;
  color: #000000;
}
.cm-s-chrome-devtools .CodeMirror-lines {
  padding: 8px 0;
}
.cm-s-chrome-devtools .CodeMirror-gutters {
  background-color: #ffffff;
  padding-right: 14px;
  z-index: 3;
  border: none;
  border-right: 1px solid #eeeeee;
}
.cm-s-chrome-devtools div.CodeMirror-cursor {
  border-left: 3px solid #000000;
}
.cm-s-chrome-devtools .CodeMirror-activeline-background {
  background: #0000001a;
}
.cm-s-chrome-devtools .CodeMirror-selected {
  background: #bad6fd;
}
.cm-s-chrome-devtools .cm-string {
  color: #c41a16;
}
.cm-s-chrome-devtools .cm-number {
  color: null;
}
.cm-s-chrome-devtools .cm-keyword {
  color: #aa0d91;
}
.cm-s-chrome-devtools .cm-atom {
  color: null;
}
.cm-s-chrome-devtools .cm-variable {
  color: #000000;
}
.cm-s-chrome-devtools .cm-comment {
  color: #007400;
}
.cm-s-chrome-devtools .cm-variable-2 {
  color: #881280;
}
.cm-s-chrome-devtools .cm-property {
  color: null;
}
.cm-s-chrome-devtools .cm-operator {
  color: #aa0d91;
}
.cm-s-chrome-devtools .cm-tag {
  color: #aa0d91;
}
.cm-s-chrome-devtools .cm-attribute {
  color: #866a04;
}

#carbonads {
  display: block;
  overflow: hidden;
  padding: 1em;
  text-align: center;
  font-family: Verdana, "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1.5;
  border-bottom: 1px solid #313131;
}

#carbonads a {
  color: inherit;
}

#carbonads a:hover {
  color: inherit;
}

#carbonads span {
  display: block;
  overflow: hidden;
  color: #fff;
  max-width: 200px;
  margin: 0 auto;
}

.carbon-img {
  display: block;
  margin: 0 auto 8px;
}

.carbon-text {
  display: block;
  margin-bottom: 8px;
  font-size: 12px;
}

.carbon-poweredby {
  display: block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 10px;
  line-height: 1;
}
