* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

body,
html {
  overflow: hidden;
}

.dark {
  -webkit-filter: invert(1);
  filter: invert(1);
}

.light {
  -webkit-filter: none;
  filter: none;
}

.monaco-editor {
  padding-top: 15px;
}

/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #fff;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #22b6ff, 0 0 5px #a5ddcd;
  opacity: 1;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

.react-monaco-editor-container {
  display: flex;
  flex: 1;
}

#HW_badge_cont {
  position: absolute !important;
  right: 0;
  top: 0;
}

.cf-wrapper {
  padding: 4px !important;
  font-size: 12px !important;
  border-radius: 0 !important;
  line-height: 1.3 !important;
  border-bottom: 1px solid #dfdfdf;
}

.cf-img {
  max-width: 90px !important;
  height: 70px;
}

.cf-img-wrapper {
  margin-right: 8px !important;
}

.cf-powered-by {
  text-align: right !important;
}
