@import "tailwindcss";

@theme {
  --font-sans: Geist, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  --font-mono: "JetBrains Mono", "SF Mono", Menlo, monospace;
}

html,
body {
  overflow: hidden;
}

.material-symbols-outlined {
  display: inline-block;
  vertical-align: middle;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 20;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgb(100 116 139 / 25%);
  border-radius: 9999px;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #635bff;
}

#nprogress .peg {
  position: absolute;
  right: 0;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #635bff, 0 0 5px #635bff;
  opacity: 1;
}

.react-monaco-editor-container {
  display: flex;
  flex: 1;
}

.monaco-editor,
.monaco-editor-background {
  background-color: white !important;
}

.monaco-editor .margin {
  background-color: #fafbfc !important;
  border-right: 1px solid #f1f5f9;
}

#HW_badge_cont {
  position: absolute !important;
  right: 0;
  top: 0;
}

.cf-wrapper {
  padding: 4px !important;
  font-size: 12px !important;
  border-radius: 0 !important;
  line-height: 1.3 !important;
  border-bottom: 1px solid #dfdfdf;
}

.cf-img {
  max-width: 90px !important;
  height: 70px;
}

.cf-img-wrapper {
  margin-right: 8px !important;
}

.cf-powered-by {
  text-align: right !important;
}
